body {
    background: #355C7D;  
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}

img {
    width: 100%;
    height: 100%;
}

#navbar {
    text-align: center;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    border: black solid 1px;
    background-color: white;
    width: 80vw;
    z-index: 1;
}

li { 
    font-family: sans-serif;
    font-size: 20px;
    display: inline;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: black solid 1px;
}

li:hover {
    opacity: 0.75;
    background-color: lightgrey;
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: black;
}

#grid {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
    border: black solid 1px;
    bottom: 10px;
    right: 0;
    left: 0;
    width: 95vw;
}

#question {
    position: relative;
    text-align: center;
    padding-top: 15vh;
    font-size: 24px;
    font-family: monospace;
}

.options {
    background-color: black;;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
    border: white solid 5px;
    width: 100%;
    height: 70vh;
}

.options:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

#modal {
    background: #108DC7; 
    background: -webkit-linear-gradient(to right, #EF8E38, #108DC7);  
    background: linear-gradient(to right, #EF8E38, #108DC7); 
    border: 5px black solid;
    box-shadow: 10px 10px;
    position: fixed;
    margin: 10px auto auto auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 20vh;
    display: none;
    font-family: monospace;
  }
  
  #close {
    float: right;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  
  #result {
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 24px;
  }
  
  #buttons {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  
  #again {
    background-color: white;
    font-size: 15px;
    font-style: italic;
    font-family: monospace;
  }
  